<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1"  parallel="classes">
  <test name="DeliveryTestCases" >
      <parameter name="browser" value="ff"></parameter>
    <classes>
       <class name="com.walmart.test.HomePageTest"></class>
       <class name="com.walmart.test.WelcomePageTest"></class>
    </classes>
    <!-- 
    <groups>
        <run>
            <include name="Non-Functional"></include>
        </run>
    </groups>
    -->
  </test>
  <test name="PageHeaderFooter" >
      <parameter name="browser" value="chrome"></parameter>
      <classes>
        <class name="com.walmart.test.FooterTest" />
      </classes>
        <!-- 
      <groups>
        <run>
            <include name="Functional"></include>
        </run>
    </groups>
    -->
  </test>
</suite>